{
    "presets": ["next/babel"],
    "plugins": [
        [
            "effector/babel-plugin",
            {
                "reactSsr": true,
                "factories": ["/models/factories"]
            }
        ]
    ]
}
